<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/facts"><span class="bold">Chuck Norris Facts</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarChuckNorrisContent" aria-controls="navbarChuckNorrisContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarChuckNorrisContent">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/facts" routerLinkActive="active">Facts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!userAuthentication.currentUser?.isLoggedIn">
          <a routerLink="/login" class="nav-link" >Login</a>
        </li>
        <li class="nav-item" *ngIf="userAuthentication.currentUser?.isLoggedIn">
          <span>Welcome, {{ userAuthentication.currentUser.username }}!</span>
        </li>
      </ul>
    </div>
  </nav>